# Images
*.png
*.jpg

__pycache__/
*.pyc
.venv/
venv/
.vscode/

# Data / meshes
neuron/
../neuron/
*.ply
*.obj
*.stl

# Output files
zstack_out/
*.tif
*.tiff
*.npy
*.npz
*.log

# OS
.DS_Store
Thumbs.db

# segment ids
segment_ids.txt